        body {
            font-family: 'Inter', sans-serif;
        }
        .tab-active {
            background-color: #A16207;
            color: #FEFCE8;
            border-bottom: 2px solid #FEFCE8;
        }
        .content-section {
            display: none;
        }
        .content-section.active {
            display: block;
        }
        .accordion-header {
            cursor: pointer;
        }
        .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }
        .accordion-content.open {
           max-height: 2000px;
           transition: max-height 0.5s ease-in;
        }
        .chart-container {
            position: relative;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            height: 300px;
            max-height: 400px;
        }
        @media (min-width: 768px) {
            .chart-container {
                height: 400px;
                max-height: 500px;
            }
        }
    body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
